# NEON POSTGRES URL FOR PRISMA
DATABASE_URL="postgresql://user:password@endpoint.neon.tech/dbname?sslmode=require"

# JWT Auth Secret (You can keep the one from Java for backwards compatibility with old sessions)
JWT_SECRET="404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970"

# RAZORPAY CONFIG
RAZORPAY_KEY_ID="rzp_test_YOUR_KEY_HERE"
RAZORPAY_KEY_SECRET="YOUR_SECRET_HERE"
RAZORPAY_WEBHOOK_SECRET="YOUR_WEBHOOK_SECRET"

# VERCEL / EXPRESS
NODE_ENV="development"
PORT=3000
